/* Custom Navbar Styles */
.custom-navbar {
  background-color: transparent !important;

  // Branding Styles
  .navbar-brand {
    font-size: 4rem;
    color: #c1121f;
    margin: 50px;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 10px;
    transition: color 0.5s, text-shadow 0.5s ease;

    &:hover {
      color: #1ea7f1;
      text-shadow: 0 0 12px #1ea7f1;
    }
  }

  // Augmented Link Styles
  .augmented-link {
    position: relative;
    color: #c1121f;
    font-weight: bold;
    padding: 12px 30px;
    margin: 15px 35px;
    border: 3px solid #c1121f;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    filter: drop-shadow(0 0 5px #c1121f);
    transition: all 0.3s ease;

    &[data-augmented-ui] {
      border-width: 3px;
      border-radius: 3px;
    }

    &:hover {
      color: #1ea7f1;
      border-color: #1ea7f1;
      filter: drop-shadow(0 0 10px #1ea7f1);
      transform: translateY(-3px);
    }
  }

  // Augmented Border Styles
  .augmented-border {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;

    &[data-augmented-ui] {
      --augmented-ui-border-size: 2px;
      --augmented-ui-border-color: #ccc;
      --augmented-ui-padding: 15px;
      background: transparent;
      color: #fff;
      transition: all 0.3s ease;
    }

    &:hover {
      --augmented-ui-border-color: #1ea7f1;
      color: #1ea7f1;
      transform: translateY(-2px);
    }
  }

  // Navigation Link Styles
  .nav-link {
    position: relative;
    color: #c1121f;
    font-family: "Chakra Petch", sans-serif;
    padding: 10px 15px;
    margin: 20px 25px;
    border: 2px solid #c1121f;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0 0 5px #1ea7f1, 0 0 10px #1ea7f1, 0 0 15px #1ea7f1;
    transition: background-color 0.5s ease, color 0.5s ease,
      border-color 0.5s ease, transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      color: #1ea7f1;
      border-color: #1ea7f1;
    }

    // Selected State
    &.selected {
      transform: translateX(0) scale(1.2);
      z-index: 1;
    }

    // Non-selected Links
    &:not(.selected) {
      transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    // Animations for Sliding Links
    &:nth-child(n):not(.selected) {
      &.left {
        transform: translateX(-100vw);
      }
      &.right {
        transform: translateX(100vw);
      }
    }
  }

  // Responsive Styles
  @media (max-width: 768px) {
    // Branding Styles
    .navbar-brand {
      font-size: 3rem;
      margin-top: 10px;
    }

    // Navigation Link Styles
    .nav-link {
      position: relative;
      font-family: "Chakra Petch", sans-serif;
      text-align:center;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      font-size: 1.2rem;
      font-weight: 600;
      display: inline-block;
      transition: background-color 0.5s ease, color 0.5s ease,
      border-color 0.5s ease, transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);

      // Selected State
      &.selected {
        transform: translateX(0) scale(1.1);
        z-index: 1;
      }

      // Non-selected Links
      &:not(.selected) {
        transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      // Animations for Sliding Links
      &:nth-child(n):not(.selected) {
        &.left {
          transform: translateX(-100vw);
        }
        &.right {
          transform: translateX(100vw);
        }
      }
    }
  }
}
